---
layout: default
---

{% assign entry = page.entry %}

<h1>{{ page.entry.title }}</h1>
<p>
  {% for author in entry.author_array %}
    {% assign author_is_self = false %}
    {% if author.last == site.scholar.last_name%}
      {% if site.scholar.first_name contains author.first%}
        {% assign author_is_self = true %}
      {% endif %}
    {% endif %}
    {% assign coauthor_url = nil %}
    {% if site.data.coauthors[author.last] %}
      {% for coauthor in site.data.coauthors[author.last] %}
        {% if coauthor.firstname contains author.first %}
          {% assign coauthor_url = coauthor.url %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if forloop.length == 1 %}
      {% if author_is_self %}
        <em>{{author.first}} {{author.last}}</em>
      {% else %}
        {{author.first}} {{author.last}}
      {% endif %}
    {% else %}
      {% unless forloop.last %}
        {% if author_is_self %}
          <em>{{author.first}} {{author.last}}</em>,
        {% else %}
          {% if coauthor_url %}
            <a href="{{coauthor_url}}">{{author.first}} {{author.last}}</a>,
          {% else %}
            {{author.first}} {{author.last}},
          {% endif %}
        {% endif %}
      {% else %}
        {% if author_is_self %}
          and <em>{{author.first}} {{author.last}}</em>
        {% else %}
          {% if coauthor_url %}
            and <a href="{{coauthor_url}}">{{author.first}} {{author.last}}</a>
          {% else %}
            and {{author.first}} {{author.last}}
          {% endif %}
        {% endif %}
      {% endunless %}
    {% endif %}
  {% endfor %}
</p>

{% if page.entry.notes %}
  <p>{{ page.entry.notes }}</p>
{% endif %}

{% if page.entry.abstract %}
  <h6>Abstract</h6>
  <p>{{ page.entry.abstract }}</p>
{% endif %}

<div class="publications">
  {% bibliography -f papers -q @*[key={{page.entry.key}}]* %}
</div>

<h6>Bibtex</h6>
{% highlight linenos %}

{{ page.entry.bibtex }}

{% endhighlight %}
